@model IPagedList<LedgerViewModel>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>@Html.LabelFor(l => l.FirstOrDefault().LedgerType)</th>
        <th>@Html.LabelFor(l => l.FirstOrDefault().Date)</th>
        <th>@Html.LabelFor(l => l.FirstOrDefault().Amount)</th>
    </tr>
    @{var index = 1;}
    @foreach (var item in Model)
            {
        <tr>
            <td>@Html.GetRecordIndex(index++)</td>
            @if (item.LedgerType == Ledger.Enum.LedgerType.支出)
            {
                @RazorHelper.ShowTdWithColor("#FF3333", item.LedgerType.ToString());
            }
            else
            {
                @RazorHelper.ShowTdWithColor("#5599FF", item.LedgerType.ToString());
            }
            <td>@item.Date.ToString("yyyy-MM-dd")</td>
            <td>@item.Amount.ToString("#,##")</td>
        </tr>
    }
</table>
